<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div>
        <h1>Using a Grid model</h1>
        <div class="grid-container">
            <div class="item-a item">A</div>
            <div class="item-b item">B</div>
            <div class="item-c item">C</div>
            <div class="item-d item">D</div>
            <div class="item-e item">E</div>
        </div>
    </div>

    <div>
        <h1>Using a Flexbox model</h1>
        <div class="flex-container">
            <div class="flex-row">
                <div class="flex-column item-a item">A</div>
                <div class="flex-column item-b item">B</div>
            </div>
            <div class="flex-row">
                <div class="flex-column item-c item">C</div>
                <div class="flex-column item-d item">D</div>
            </div>
            <div class="flex-row">
                <div class="flex-column item-e item">E</div>
            </div>
        </div>
    </div>
</body>
</html>
